.aboutSection {
    margin-top: 1rem;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutTitle {
    color: #bbb;
}

.img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #d42991;
}

.skills{
    padding: 1rem 0 0.5rem 0;
    color: #d42991;
    text-transform: uppercase;
    font-weight: bold;
}

.skillset{
    font-weight: normal;
    font-size: 1rem;
    display: block;
}

.bold{
    font-weight: bold;
    font-style: italic;
    color: #ebedee;
}