.contactContainer {
    margin-top: 1rem;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-left: 2rem;
}

.textArea {
    width: 100%;
    padding: 0.5rem;
    resize: none;
    border-radius: 0.5rem;
}

/* .textField.MuiInputBase-input.MuiOutlinedInput-input {
    border: 1px solid white;
    color: white;
} */